---
const personalImageAlt = "Fabricio Rene Crespo Rossel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Fabricio Rene Crespo Rossel, and I'm 22 years old. I have completed all academic semesters for Computer Systems Engineering, with only the final degree certification pending. I've been programming since I was 12, starting with languages like C# and Python.
    </p>

    <p>
      One of my significant achievements is delivering <strong>five deployment-ready projects at UMA for Universidad del Valle</strong>, which earned me a letter of recommendation from my department director.
    </p>

    <p>
      Additionally, I developed a platform called <strong>Glucolog</strong> to monitor glucose levels in diabetic patients using AI and various tools, built with Next.js and Firebase.
    </p>

    <p>
      My primary professional goal is to become a proficient full-stack developer with expertise across multiple languages, eventually transitioning into a project manager role to deliver well-developed solutions.
    </p>
  </div>

  <img width="200" height="200" src="/pfp.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 ">
</article>
