---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2025 (Current)",
    title: "Full Stack Developer Intern",
    company: "Grupo GOIT",
    description:
      "Developing web and mobile applications using Next.js, NestJS, PostgreSQL, and Expo. Working on enterprise-level solutions and contributing to the development of scalable applications.",
  },
  {
    date: "Ongoing",
    title: "Software Project Manager & Founder",
    company: "FluenceSoft",
    description:
      "Founder and project manager at FluenceSoft, a software development company. Leading multiple development teams, overseeing project delivery, and ensuring high-quality software solutions for clients.",
    link: "",
  },
  {
    date: "2024 (4 months)",
    title: "Software Project Manager (SPM)",
    company: "UMA, Universidad del Valle, Cochabamba",
    description:
      "Managed five development teams, ensuring project requirements were met on time. Provided training in ReactJS and React Native, supervised repositories, and integrated multiple codebases.",
  },
  {
    date: "2023",
    title: "Full-Stack Developer",
    company: "Freelance",
    description:
      "Developed web and mobile applications using ReactJS, React Native, and Laravel. Specialized in database design, UI/UX improvements, and full-stack development.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
