---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    class="inline-flex bg-white text-black border-black/25 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-black border dark:border-white/30 focus-visible:ring-black/70 dark:focus-visible:ring-white/70 text-md hover:bg-black hover:border-black group max-w-fit rounded-xl hover:text-white dark:hover:bg-white dark:hover:text-black focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
    <slot />
</a>
